body{
	background-color: #88c5ca;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%230478a1' fill-opacity='0.62'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
	/*background-color: #88c5ca;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%230478a1' fill-opacity='0.62' fill-rule='evenodd'/%3E%3C/svg%3E");*/
}
.friends{
	margin: 5px;
}

button{
	margin: 10px;
	border-radius: 5px;
	font-size: 1em;
	letter-spacing: 1px;
}

select {
	margin: 5px;
}

.callFriends {
	margin: 10px;
}

.landing{
	margin-top: 15%;
	height: 100%;
	text-align: center;
}

.landingbtn{
	display: block;
	
	/*height: 40px;*/
	padding: 10px;
	font-size: 1.5em;
	border-radius: 10px;
	margin: auto;
	background: hsl(204,95.2%,32.4%);

	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 6px black;
}

.landingbtn:hover{
	box-shadow: 0 4px black;
	top: 2px;
}

.landingbtn:active{
	border-radius: 10px;
	box-shadow: none;
	top: 6px;
}

#playername {
	width: 220px;
	text-align: center;
	border: none;
	font-size: 18px;
}

#nameBtn{
	border: none;
	color: white;
	width: 100px;
	border-radius: 10px;
	background-color: hsl(204,95.2%,32.4%);
	margin: 5px;
}

.nameInp{
	background-color: white;
	width: 350px;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	margin-top: 20%;
	font-size: 1.3em;
	margin-bottom: 20px;
}

input{
	height: 20px;
}